Source: mate-ballena
Section: mate
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Build-Depends: cdbs,
               debhelper (>= 8),
               autotools-dev,
               mate-common,
               intltool (>= 0.40.0),
               libmatecomponent-dev,
               libglib2.0-dev (>= 2.10.0),
               libxml-parser-perl,
               pkg-config,
               python (>= 2.4),
               python-dbus,
               python-mate,
               python-gtk2-dev,
               python-pyatspi,
               python-corba,
               python-support (>= 0.5.6),
               python-louis (>= 1.6.2),
               liblouis-dev,
               python-xdg
Standards-Version: 3.9.2

Package: mate-ballena
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-pyatspi (>= 1.22.0) | python-pyatspi2,
         python-gtk2 (>= 2.10),
         python-mate,
         python-brlapi,
         python-louis (>= 1.6.2),
         python-dbus
Recommends: wget
XB-Python-Version: ${python:Versions}
Description: Scriptable screen reader
 A flexible, extensible, and powerful assistive technology that
 provides end-user access to applications and toolkits that support the
 AT-SPI (e.g., the MATE desktop).
 .
 Ballena defines a set of default behaviors (reactions to application events) and
 key bindings (reaction to user key presses). These default behaviors and key
 bindings can be overwritten on a per-application basis. Ballena creates a script
 object for each running application, which merges both the default behaviors
 and key bindings, and the application specific ones. Ballena provides the
 infrastructure to activate and deactivate scripts, as well as a host of
 services accessible from within the scripts.
