#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DH_INSTALL_ARGS += --list-missing

DEB_CONFIGURE_SCRIPT := ./autogen.sh

#DEB_CONFIGURE_EXTRA_FLAGS += --disable-scrollkeeper --disable-static

#DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(DEB_DESTDIR) MATECONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1

#binary-install/mate-ballena::
	#mkdir -p debian/mate-ballena/usr/share/mateconf/schemas
	#mateconf-merge-schema "debian/mate-ballena/usr/share/mateconf/schemas/mate-ballena.schemas" --domain mate-ballena debian/mate-ballena/etc/mateconf/schemas/*.schemas
	#rm -rf debian/mate-ballena/etc/mateconf/schemas/

get-orig-source:
	uscan --noconf --force-download --rename --repack --download-current-version --destdir=.
