Source: libmateweather
Section: libs
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Build-Depends: debhelper (>= 9),
               mate-common,
               autotools-dev,
               libxml2-dev,
               libglib2.0-dev,
               libgtk2.0-dev,
               libsoup2.4-dev,
               libsoup-gnome2.4-dev,
               libxml2-utils,
               gtk-doc-tools,
               python-all-dev (>= 2.6.6-3~),
               python-gobject-dev,
               python-gtk2-dev
Standards-Version: 3.9.4
Homepage: http://www.mate-desktop.org/
Vcs-Browser: https://github.com/mate-desktop/debian-packages
Vcs-Git: git://github.com/mate-desktop/debian-packages.git

Package: libmateweather1
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libmateweather-common (= ${source:Version})
Provides: libmateweather
Breaks: libmateweather
Conflicts: libmateweather
Replaces: libmateweather
Description: MateWeather shared library
 libmateweather is a library to access weather information from online
 services for numerous locations.

Package: libmateweather-common
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Breaks: libmateweather (<= 1.0.0-3)
Description: MateWeather shared library (common files)
 libmateweather is a library to access weather information from online
 services for numerous locations.
 .
 This package contains the common files between all architectures.

Package: libmateweather-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libmateweather1 (= ${binary:Version}),
         libxml2-dev,
         libglib2.0-dev,
         libgtk2.0-dev,
         libsoup2.4-dev,
         libsoup-gnome2.4-dev
Description: MateWeather shared library (development files)
 libmateweather is a library to access weather information from online
 services for numerous locations.
 .
 This package contains the development files.

Package: libmateweather-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         libmateweather1 (= ${binary:Version})
Description: MateWeather shared library (debugging symbols)
 This package contains debugging symbols for the libmateweather
 library. It is provided to help debugging problems.
 The debugging symbols are installed in /usr/lib/debug and will
 automatically be used by gdb.
