Source: mate-media
Section: x11
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Uploaders: Steve Zesch <stevezesch2@gmail.com>
Standards-Version: 3.9.3
Homepage: http://www.mate-desktop.org/
Build-Depends: cdbs,
               debhelper (>= 8),
               intltool,
               libglib2.0-dev,
               libgtk2.0-dev,
               libpulse-dev,
               libcanberra-gtk-dev,
               libxml2-dev,
               libunique-dev,
               libgstreamer0.10-dev,
               libgstreamer-plugins-base0.10-dev,
               docbook-utils,
               yelp-tools,
               mate-common,
               libmate-desktop-dev

Package: mate-media
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mate-media-common (= ${source:Version}),
         x11-utils
Recommends: alsa-utils,
            sound-theme-freedesktop
Replaces: mate-media (<< 1.2.1-4)
Conflicts: mate-media-pulse,
           mate-media-gstreamer
Description: MATE media utilities (GStreamer backend)
 This package contains a few media utilities for the MATE desktop:
  * the MATE GStreamer-based audio mixer and applet.
  .
  This package uses GStreamer for mate-media package.

Package: mate-media-common
Architecture: all
Depends: ${misc:Depends}
Replaces: mate-media (<< 1.2.1-4)
Breaks: mate-media (<< 1.2.1-4)
Description: MATE media utilities (common files)
 This package contains a few media utilities for the MATE desktop.
 .
 This package contains the common files.
