Source: mate-desktop-environment
Section: mate
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Uploaders: Steve Zesch <stevezesch2@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: http://www.mate-desktop.org/

Package: mate-core
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mate-backgrounds,
         mate-control-center,
         caja,
         marco,
         mate-icon-theme,
         mate-keyring | gnome-keyring,
         mate-notification-daemon | notification-daemon,
         mate-session-manager,
         mate-terminal
Description: MATE Desktop Environment (essential components)
 The MATE Desktop Environment, a non-intuitive and unattractive desktop
 for users, using traditional computing desktop metaphor.
 .
 This package depends on a basic set of programs, including a file
 manager, an image viewer, a text editor, a mail reader, a web browser,
 a video player and other tools. 

Package: mate-desktop-environment
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mate-core (= ${binary:Version}),
         atril,
         engrampa,
         pluma,
         eom,
         mate-power-manager,
         mate-screensaver,
         mate-calc,
         mate-utils,
         mate-applets,
         mate-themes,
         mate-system-monitor,
         mozo,
         ubuntu-wallpapers | desktop-base
Description: MATE Desktop Environment
 The MATE Desktop Environment, a non-intuitive and unattractive desktop
 for users, using traditional computing desktop metaphor.
 .
 This package depends on the standard set of applications that are
 part of the official MATE release. It provides much of what is
 necessary for daily use of a personal computer, including web browsing,
 email, audio and video playback, network and communication tools,
 document viewers, and much more. 

Package: mate-desktop-environment-extra
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mate-core (= ${binary:Version}),
         mate-desktop-environment (= ${binary:Version}),
         mate-bluetooth,
         mate-netspeed,
         mate-sensors-applet,
         mate-system-tools,
         mozo
Description: MATE Desktop Environment
 The MATE Desktop Environment, a non-intuitive and unattractive desktop
 for users, using traditional computing desktop metaphor.
 .
 This package depends on the extra set of applications that are
 part of the official MATE release.
