Source: mate-themes
Section: mate
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Standards-Version: 3.9.2
Build-Depends: debhelper,
               cdbs,
               mate-common
Build-Depends-Indep: libxml-parser-perl,
                     libgtk2.0-dev,
                     icon-naming-utils,
                     pkg-config,
                     intltool

Package: mate-themes
Architecture: all
Depends: gtk2-engines,
         gtk2-engines-murrine,
         gtk2-engines-pixbuf,
         librsvg2-common,
         mate-icon-theme,
         mate-themes-gnome | gnome-themes | gnome-themes-standard | gnome-themes-selected | gnome-accessibility-themes,
         ${misc:Depends}
Recommends: dmz-cursor-theme
Description: official themes for the MATE desktop
 This package contains the official desktop themes of the MATE desktop
 environment.

Package: mate-themes-gnome
Architecture: all
Depends: mate-themes,
         ${misc:Depends}
Conflicts: gnome-themes, gnome-themes-standard, gnome-themes-selected, gnome-accessibility-themes
Description: official themes for the MATE desktop (GNOME files)
 This package contains the official desktop themes of the MATE desktop
 environment.
 .
 This package contains the files in conflict with GNOME themes.

