Source: mate-archive-keyring
Section: misc
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Standards-Version: 3.9.3
Homepage: http://www.mate-desktop.org/

Package: mate-archive-keyring
Architecture: all
Depends: gnupg (>= 1.0.6-4), apt
Description: GnuPG key of the MATE repository
 The MATE repository digitally signs its Release files. This package
 contains the repository key used for that.
