#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/utils.mk

DEB_DH_INSTALL_ARGS += --list-missing

DEB_CONFIGURE_SCRIPT := ./autogen.sh

DEB_CONFIGURE_EXTRA_FLAGS += --localstatedir=/var/lib \
						--libexecdir=/usr/lib \
						--disable-introspection

DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(DEB_DESTDIR) MATECONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1

binary-install/mate-session-manager::
	mkdir -p debian/mate-session-manager/usr/share/mateconf/schemas
	mateconf-merge-schema "debian/mate-session-manager/usr/share/mateconf/schemas/mate-session-manager.schemas" --domain mate-session-manager debian/tmp/etc/mateconf/schemas/*.schemas
	rm -rf debian/tmp/etc/mateconf/schemas/
	rm -rf debian/tmp/etc/mateconf/

get-orig-source:
	uscan --noconf --force-download --rename --repack --download-current-version --destdir=.
