Source: mate-notification-daemon
Section: x11
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Uploaders: Steve Zesch <stevezesch2@gmail.com>
Build-Depends: debhelper (>= 9),
               libglib2.0-dev,
               libx11-dev,
               libgtk2.0-dev,
               libdbus-1-dev,
               libdbus-glib-1-dev,
               libwnck-dev,
               libcanberra-gtk-dev,
               libnotify-dev,
               intltool,
               mate-common
Standards-Version: 3.9.4
Homepage: http://www.mate-desktop.org/

Package: mate-notification-daemon
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mate-notification-daemon-common (= ${source:Version})
Provides: notification-daemon
Description: daemon to display passive popup notifications
 mate-notification-daemon displays passive popup notifications, as per
 the Desktop Notifications Specification.
 .
 The Desktop Notifications Specification provides a standard way of
 doing passive popup notifications on the Linux desktop. These are
 designed to notify the user of something without interrupting their
 work with a dialog box that they must close.  Passive popups can
 automatically disappear after a short period of time, as per the
 Desktop Notifications spec.

Package: mate-notification-daemon-common
Architecture: all
Depends: ${misc:Depends}
Replaces: mate-notification-daemon (<< 1.9.0)
Breaks: mate-notification-daemon (<< 1.9.0)
Description: daemon to display passive popup notifications (common files)
 mate-notification-daemon displays passive popup notifications, as per
 the Desktop Notifications Specification.
 .
 The Desktop Notifications Specification provides a standard way of
 doing passive popup notifications on the Linux desktop. These are
 designed to notify the user of something without interrupting their
 work with a dialog box that they must close.  Passive popups can
 automatically disappear after a short period of time, as per the
 Desktop Notifications spec.
 .
 This package contains the architecture independent files.
 
Package: mate-notification-daemon-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         mate-notification-daemon (= ${binary:Version})
Description: daemon to display passive popup notifications (debugging symbols)
 mate-notification-daemon displays passive popup notifications, as per
 the Desktop Notifications Specification.
 .
 The Desktop Notifications Specification provides a standard way of
 doing passive popup notifications on the Linux desktop. These are
 designed to notify the user of something without interrupting their
 work with a dialog box that they must close.  Passive popups can
 automatically disappear after a short period of time, as per the
 Desktop Notifications spec.
 .
 This package contains debugging symbols for the mate-notification-daemon
 package. It is provided to help debugging problems.
 .
 The debugging symbols are installed in /usr/lib/debug and will
 automatically be used by gdb.
