Source: mate-screensaver
Section: x11
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Uploaders: Steve Zesch <stevezesch2@gmail.com>
Build-Depends: debhelper (>= 9),
               intltool,
               libdbus-glib-1-dev,
               libglib2.0-dev,
               libgtk2.0-dev,
               libmate-menu-dev,
               libmate-desktop-dev (>= 1.9.4),
               libstartup-notification0-dev,
               libmatekbd-dev,
               libxt-dev,
               libxext-dev,
               libx11-dev,
               libpam0g-dev,
               xmlto,
               x11proto-xext-dev,
               x11proto-scrnsaver-dev,
               libxss-dev,
               x11proto-xf86vidmode-dev,
               libxxf86vm-dev,
               libgl1-mesa-dev | libgl1-mesa-swx11-dev,
               libnotify-dev,
               libsystemd-login-dev,
               libdconf-dev,
               mate-common,
Standards-Version: 3.9.4
Homepage: http://www.mate-desktop.org/

Package: mate-screensaver
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mate-screensaver-common (= ${source:Version}),
         dbus-x11,
         mate-session-manager
Recommends: mate-power-manager
Suggests: xscreensaver-data, rss-glx
Breaks: mate-screensaver-common (<< 1.8.0)
Description: MATE screen saver and locker
 mate-screensaver is a screen saver and locker that aims to have simple,
 sane and secure defaults, and be well integrated with the MATE desktop.
 .
 It is designed to support, among other things:
 .
  * the ability to lock down configuration settings
  * translation into other languages
  * user switching

Package: mate-screensaver-common
Architecture: all
Depends: ${misc:Depends}
Breaks: mate-screensaver (<< 1.5.2)
Description: MATE screen saver and locker (common files)
 mate-screensaver is a screen saver and locker that aims to have simple,
 sane and secure defaults, and be well integrated with the MATE desktop.
 .
 This package contains the architecture independent files.

Package: mate-screensaver-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         mate-screensaver (= ${binary:Version})
Description: MATE screen saver and locker (debugging symbols)
 mate-screensaver is a screen saver and locker that aims to have simple,
 sane and secure defaults, and be well integrated with the MATE desktop.
 .
 This package contains debugging symbols for MATE screensaver.
 .
 The debugging symbols are installed in /usr/lib/debug and will
 automatically be used by gdb.
