#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	rm -fv debian/tmp/usr/lib/*/*.la 
	rm -rfv debian/tmp/usr/share/omf/
	rm -rfv debian/tmp/usr/share/help/*/fdl/
	rm -rfv debian/tmp/usr/share/help/*/gpl/
	rm -rfv debian/tmp/usr/share/help/*/lgpl/
	dh_install --list-missing

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-static \
		--with-xscreensaverdir=/usr/share/xscreensaver/config \
		--with-xscreensaverhackdir=/usr/lib/xscreensaver \
		--with-mit-ext \
		--libexecdir=/usr/lib/ \
		--with-console-kit \
		--with-libnotify \
		--without-systemd \
		--enable-locking \
		--with-gtk=2.0

override_dh_strip:
	dh_strip --dbg-package=mate-screensaver-dbg

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
