Source: mate-netbook
Section: x11
Priority: optional
Maintainer: MATE Packaging Team <mate-dev@ml.mate-desktop.org>
Uploaders: Mike Gabriel <sunweaver@debian.org>,
           John Paul Adrian Glaubitz <glaubitz@physik.fu-berlin.de>,
           Stefano Karapetsas <stefano@karapetsas.com>,
           Vangelis Mouhtsis <vangelis@gnugr.org>,
Build-Depends: debhelper (>= 9),
               dpkg-dev (>= 1.16.1.1),
               libdconf-dev,
               libfakekey-dev,
               libgtk2.0-dev,
               libmate-panel-applet-dev (>= 1.16),
               libwnck-dev,
               mate-common (>= 1.16),
               yelp-tools,
Standards-Version: 3.9.7
Homepage: http://www.mate-desktop.org/
Vcs-Browser: https://github.com/mate-desktop/debian-packages
Vcs-Git: git://github.com/mate-desktop/debian-packages.git

Package: mate-netbook
Architecture: any
Depends: mate-netbook-common (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: MATE utilities for netbooks
 MATE utilities for netbooks are an applet and a daemon to maximize
 windows and move their titles on the panel.
 .
 Installing these utilities is recommended for netbooks and similar
 devices with low resolution displays.

Package: mate-netbook-common
Architecture: all
Depends: ${misc:Depends},
Replaces: mate-netbook (<< 1.9.0),
Breaks: mate-netbook (<< 1.9.0),
Description: MATE utilities for netbooks (common files)
 MATE utilities for netbooks are an applet and a daemon to maximize
 windows and move their titles on the panel.
 .
 Installing these utilities is recommended for netbooks and similar
 devices with low resolution displays.
 .
 This package contains the architecture independent files.

Package: mate-netbook-dbg
Section: debug
Priority: extra
Architecture: any
Depends: mate-netbook (= ${binary:Version}),
         ${misc:Depends},
Description: MATE utilities for netbooks (debugging symbols)
 MATE utilities for netbooks are an applet and a daemon to maximize
 windows and move their titles on the panel.
 .
 Installing these utilities is recommended for netbooks and similar
 devices with low resolution displays.
 .
 This package contains debugging symbols for mate-netbook.
 .
 The debugging symbols are installed in /usr/lib/debug and will
 automatically be used by gdb.
