Source: mate-netbook
Section: x11
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Build-Depends: debhelper (>= 9),
               libgtk2.0-dev,
               libmate-panel-applet-dev,
               libwnck-dev,
               libfakekey-dev,
               libunique-dev,
               yelp-tools,
               mate-common
Standards-Version: 3.9.5
Homepage: http://www.mate-desktop.org/

Package: mate-netbook
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: MATE utilities for netbooks
 This package contains an applet and a daemon to maximize windows and
 move their titles on panel.

Package: mate-netbook-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         mate-netbook (= ${binary:Version})
Description: MATE utilities for netbooks (debugging symbols)
 This package contains debugging symbols for mate-netbook. The
 debugging symbols are installed  in /usr/lib/debug and will
 automatically be used by gdb.
