Source: libmatekeyring
Section: mate
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Build-Depends: debhelper,
               cdbs,
               quilt,
               intltool,
               libglib2.0-dev,
               gtk-doc-tools,
               docbook-xml,
               libdbus-1-dev,
               libgcrypt11-dev,
               libglib2.0-doc
Standards-Version: 3.9.2

Package: libmatekeyring
Section: libs
Architecture: any
Depends: ${misc:Depends}
Description: MATE keyring services library
 mate-keyring is a daemon in the session, similar to ssh-agent,
 and other applications can use it to store passwords and other
 sensitive information.
 .
 The program can manage several keyrings, each with its own master
 password, and there is also a session keyring which is never stored to
 disk, but forgotten when the session ends.

Package: libmatekeyring-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libglib2.0-dev
Description: MATE keyring services library (development files)
 mate-keyring is a daemon in the session, similar to ssh-agent,
 and other applications can use it to store passwords and other
 sensitive information.
 .
 The program can manage several keyrings, each with its own master
 password, and there is also a session keyring which is never stored to
 disk, but forgotten when the session ends.
 .
 This package contains the development files.
