Source: libmatekeyring
Section: mate
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Build-Depends: debhelper (>= 9),
               intltool,
               libglib2.0-dev,
               gtk-doc-tools,
               docbook-xml,
               libdbus-1-dev,
               libgcrypt11-dev,
               libglib2.0-doc,
               mate-common
Standards-Version: 3.9.4
Homepage: http://www.mate-desktop.org/
Vcs-Browser: https://github.com/mate-desktop/debian-packages
Vcs-Git: git://github.com/mate-desktop/debian-packages.git

Package: libmate-keyring1
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${misc:Depends},
         ${shlibs:Depends}
Conflicts: libmatekeyring
Provides: libmatekeyring
Description: MATE keyring services library
 mate-keyring is a daemon in the session, similar to ssh-agent,
 and other applications can use it to store passwords and other
 sensitive information.
 .
 The program can manage several keyrings, each with its own master
 password, and there is also a session keyring which is never stored to
 disk, but forgotten when the session ends.

Package: libmate-keyring-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libmate-keyring1 (= ${binary:Version}),
         libglib2.0-dev
Description: MATE keyring services library (development files)
 mate-keyring is a daemon in the session, similar to ssh-agent,
 and other applications can use it to store passwords and other
 sensitive information.
 .
 The program can manage several keyrings, each with its own master
 password, and there is also a session keyring which is never stored to
 disk, but forgotten when the session ends.
 .
 This package contains the development files.

Package: libmate-keyring-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: MATE keyring services library (documentation files)
 mate-keyring is a daemon in the session, similar to ssh-agent,
 and other applications can use it to store passwords and other
 sensitive information.
 .
 The program can manage several keyrings, each with its own master
 password, and there is also a session keyring which is never stored to
 disk, but forgotten when the session ends.
 .
 This package contains the documentation files.

Package: libmate-keyring-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         libmate-keyring1 (= ${binary:Version})
Description: MATE keyring services library (debugging symbols)
 This package contains debugging symbols for the libmatekeyring
 library. It is provided to help debugging problems.
 The debugging symbols are installed in /usr/lib/debug and will
 automatically be used by gdb.
