#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_install:
	rm -fv debian/tmp/usr/lib/*/*.la 
	dh_install --list-missing

override_dh_auto_configure:
	dh_auto_configure -- --disable-static --libexecdir=/usr/lib/$(DEB_HOST_MULTIARCH)/mate-keyring

override_dh_strip:
	dh_strip --dbg-package=libmate-keyring-dbg

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..