Source: mate-settings-daemon
Section: mate
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Build-Depends: cdbs,
               debhelper (>= 8),
               autotools-dev,
               intltool,
               libdbus-glib-1-dev,
               libglib2.0-dev,
               libgtk2.0-dev,
               libmatedesktop-dev,
               libmatenotify-dev,
               libxt-dev,
               libxi-dev,
               libxrandr-dev,
               libxrender-dev,
               libfontconfig1-dev,
               libxext-dev,
               libx11-dev,
               libmatekbd-dev,
               libxklavier-dev,
               libgstreamer0.10-dev,
               libgstreamer-plugins-base0.10-dev,
               libmateconf-dev,
               libmatecorba-dev,
               libstartup-notification0-dev,
               libmatepolkit-dev,
               libpolkit-agent-1-dev,
               libpolkit-gobject-1-dev,
               libpulse-dev,
               libcanberra-gtk-dev,
               x11proto-xf86misc-dev,
               x11proto-kb-dev,
               mate-common
Standards-Version: 3.9.3
Homepage: http://www.mate-desktop.org/

Package: mate-settings-daemon
Architecture: all
Depends: ${misc:Depends},
         mate-settings-daemon-gstreamer | mate-settings-daemon-pulse
Description: daemon handling the MATE session settings
 This package contains the daemon which is responsible for setting the
 various parameters of a MATE session and the applications that run
 under it. It handles the following kinds of settings:
 .
  * Keyboard: layout, accessibility options, shortcuts, media keys
  * Clipboard management
  * Theming: background, icons, GTK+ applications
  * Cleanup of unused files
  * Mouse: cursors, speed, accessibility options
  * Startup of other daemons: screensaver, sound daemon
  * Typing break
 .
 It also sets various application settings through X resources and
 freedesktop.org XSETTINGS.

Package: mate-settings-daemon-gstreamer
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mate-settings-daemon-common (= ${source:Version})
Replaces: mate-settings-daemon (<< 1.1.1-1)
Conflicts: mate-settings-daemon-pulse
Description: daemon handling the MATE session settings (GStreamer version)
 This package contains the daemon which is responsible for setting the
 various parameters of a MATE session and the applications that run
 under it. It handles the following kinds of settings:
 .
  * Keyboard: layout, accessibility options, shortcuts, media keys
  * Clipboard management
  * Theming: background, icons, GTK+ applications
  * Cleanup of unused files
  * Mouse: cursors, speed, accessibility options
  * Startup of other daemons: screensaver, sound daemon
  * Typing break
 .
 It also sets various application settings through X resources and
 freedesktop.org XSETTINGS.
 .
 This package uses GStreamer for media keys.

Package: mate-settings-daemon-pulse
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mate-settings-daemon-common (= ${source:Version}),
         pulseaudio
Replaces: mate-settings-daemon (<< 1.1.1-1)
Conflicts: mate-settings-daemon-gstreamer
Description: daemon handling the MATE session settings (PulseAudio version)
 This package contains the daemon which is responsible for setting the
 various parameters of a MATE session and the applications that run
 under it. It handles the following kinds of settings:
 .
  * Keyboard: layout, accessibility options, shortcuts, media keys
  * Clipboard management
  * Theming: background, icons, GTK+ applications
  * Cleanup of unused files
  * Mouse: cursors, speed, accessibility options
  * Startup of other daemons: screensaver, sound daemon
  * Typing break
 .
 It also sets various application settings through X resources and
 freedesktop.org XSETTINGS.
 .
 This package uses PulseAudio instead of GStreamer for media keys.

Package: mate-settings-daemon-common
Architecture: all
Depends: ${misc:Depends}
Replaces: mate-settings-daemon (<< 1.1.1-1)
Description: daemon handling the MATE session settings (common files)
 This package contains the daemon which is responsible for setting the
 various parameters of a MATE session and the applications that run
 under it. It handles the following kinds of settings:
 .
  * Keyboard: layout, accessibility options, shortcuts, media keys
  * Clipboard management
  * Theming: background, icons, GTK+ applications
  * Cleanup of unused files
  * Mouse: cursors, speed, accessibility options
  * Startup of other daemons: screensaver, sound daemon
  * Typing break
 .
 It also sets various application settings through X resources and
 freedesktop.org XSETTINGS.
 .
 This package contains the architecture independent files.
