#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/class/autotools.mk

#LDFLAGS += -Wl,-O1 -Wl,-z,defs -Wl,--warn-unresolved-symbols -Wl,--as-needed

DEB_CONFIGURE_EXTRA_FLAGS += \
	--libexecdir=/usr/bin \
	--disable-static \
	--disable-pulse \
	--disable-schemas-install \
	--enable-polkit

DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(DEB_DESTDIR) MATECONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1

binary-install/mate-settings-daemon::
	mkdir -p debian/mate-settings-daemon/usr/share/mateconf/schemas
	mateconf-merge-schema "debian/mate-settings-daemon/usr/share/mateconf/schemas/mate-settings-daemon.schemas" --domain mate-settings-daemon debian/mate-settings-daemon/etc/mateconf/schemas/*.schemas
	rm debian/mate-settings-daemon/etc/mateconf/schemas/*.schemas
