#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DH_INSTALL_ARGS += --list-missing

DEB_CONFIGURE_SCRIPT := ./autogen.sh

DEB_CONFIGURE_EXTRA_FLAGS += \
	--libexecdir=/usr/bin \
	--disable-static \
	--disable-schemas-install \
	--enable-pulse \
	--enable-polkit

DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(DEB_DESTDIR) MATECONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1

binary-install/mate-settings-daemon::
	mkdir -p debian/mate-settings-daemon/usr/share/mateconf/schemas
	mateconf-merge-schema "debian/mate-settings-daemon/usr/share/mateconf/schemas/mate-settings-daemon.schemas" --domain mate-settings-daemon debian/mate-settings-daemon/etc/mateconf/schemas/*.schemas
	rm debian/mate-settings-daemon/etc/mateconf/schemas/*.schemas

get-orig-source:
	uscan --noconf --force-download --rename --repack --download-current-version --destdir=.
