#!/usr/bin/make -f

DHFLAGS=--parallel

%:
	dh $@ $(DHFLAGS)

override_dh_install:
	rm -rfv debian/tmp/usr/share/MateConf/gsettings/matekbd.convert
	rm -rfv debian/tmp/usr/lib/*/*.la
	dh_install --fail-missing

override_dh_auto_configure:
	# upstream tarball is without configure. autogen.sh will create it
	NOCONFIGURE=1 ./autogen.sh
	dh_auto_configure $(DHFLAGS) -- \
		--disable-static \
		--with-gtk=2.0

override_dh_makeshlibs:
	dh_makeshlibs -V 'libmatekbd4 (>= 1.8.0)'

override_dh_strip:
	dh_strip -plibmatekbd4 --dbg-package=libmatekbd4-dbg

override_dh_auto_clean:
	dh_auto_clean

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
