Source: mate-file-manager
Section: mate
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Build-Depends: debhelper,
               cdbs,
               quilt,
               dpkg-dev,
               libglib2.0-dev,
               libmatedesktop-dev,
               libpango1.0-dev,
               libgtk2.0-dev,
               libxml2-dev,
               libexif-dev,
               libexempi-dev,
               libgail-dev,
               libunique-dev,
               libdbus-glib-1-dev,
               intltool,
               gtk-doc-tools,
               libxt-dev,
               libx11-dev,
               libselinux1-dev [linux-any],
               libxrender-dev,
               libxext-dev,
               libmateconf-dev,
               x11proto-core-dev,
               shared-mime-info,
               libstartup-notification0-dev
Standards-Version: 3.9.2

Package: mate-file-manager
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         caja (= ${binary:Version})
Description: file manager for the MATE desktop
 Caja is the official file manager for the MATE desktop. It allows
 to browse directories, preview files and launch applications associated
 with them. It is also responsible for handling the icons on the MATE
 desktop. It works on local and remote filesystems.
 .
 This is a metapackage to install Caja, the MATE file manager.

Package: caja
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         shared-mime-info,
         desktop-file-utils,
         mate-vfs,
         libglib2.0-data,
         libcaja-extension (= ${binary:Version})
Description: Caja, the file manager for the MATE desktop
 Caja is the official file manager for the MATE desktop. It allows
 to browse directories, preview files and launch applications associated
 with them. It is also responsible for handling the icons on the MATE
 desktop. It works on local and remote filesystems.

Package: libcaja-extension
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: libraries for caja components
 Caja is the official file manager for the MATE desktop.
 .
 This package contains a few runtime libraries needed by caja's
 extensions.

Package: libcaja-extension-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcaja-extension (= ${binary:Version})
Description: libraries for caja components (development files)
 Caja is the official file manager for the MATE desktop.
 .
 This package contains the development files for the libraries needed
 by caja's extensions. 

Package: gir1.2-caja
Section: libdevel
Architecture: any
Depends: ${gir:Depends},
         ${shlibs:Depends},
         ${misc:Depends},
         libcaja-extension (= ${binary:Version})
Description: libraries for caja components - gir bindings
 Caja is the official file manager for the MATE desktop.
 .
 This package can be used by other packages using the GIRepository
 format to generate dynamic bindings. 
