Source: mate-icon-theme
Section: x11
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Uploaders: Steve Zesch <stevezesch2@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: gettext,
                     hicolor-icon-theme,
                     intltool (>= 0.40.0),
                     pkg-config,
                     icon-naming-utils (>= 0.8.7),
                     librsvg2-bin,
                     mate-common
Standards-Version: 3.9.4
Homepage: http://www.mate-desktop.org/

Package: mate-icon-theme
Architecture: all
Depends: ${misc:Depends},
         hicolor-icon-theme,
         libgtk-3-bin,
         librsvg2-common
Description: MATE Desktop icon theme
 This package contains the default icon theme used by the MATE desktop.
 The icons are used in the panel menu, and in nautilus and other
 applications, to represent the different applications, files,
 directories, and devices.
