#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DH_INSTALL_ARGS += --list-missing

DEB_CONFIGURE_EXTRA_FLAGS := --disable-scrollkeeper \
			--enable-gtk-doc \
			--enable-djvu \
			--enable-dvi \
			--enable-t1lib \
			--enable-pixbuf \
			--enable-comics \
			--enable-impress \
			--disable-introspection

DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(DEB_DESTDIR) MATECONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1

binary-install/mate-document-viewer::
	mkdir -p debian/mate-document-viewer/usr/share/mateconf/schemas
	mateconf-merge-schema "debian/mate-document-viewer/usr/share/mateconf/schemas/mate-document-viewer.schemas" --domain mate-document-viewer debian/mate-document-viewer/etc/mateconf/schemas/*.schemas
	rm -r debian/mate-document-viewer/etc/mateconf/schemas/

