#!/usr/bin/make -f

DHFLAGS=--parallel

%:
	dh $@ $(DHFLAGS)

override_dh_install:
	rm -rfv debian/tmp/usr/share/MateConf/gsettings/mate-power-manager.convert
	dh_install --fail-missing

override_dh_auto_configure:
	NOCONFIGURE=1 ./autogen.sh
	dh_auto_configure $(DHFLAGS) -- \
		--libexecdir=/usr/lib/mate-power-manager \
		--disable-scrollkeeper \
		--enable-applets \
		--enable-deprecated \
		--disable-strict \
		--with-gtk=2.0

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
