Source: libmatenotify
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Build-Depends: cdbs,
               debhelper,
               libglib2.0-dev,
               libgtk2.0-dev,
               libdbus-1-dev,
               libdbus-glib-1-dev,
               libpopt-dev
Standards-Version: 3.8.4
Section: libs

Package: libmatenotify
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libdbus-glib-1-dev (>= 0.76),
         libgtk2.0-dev (>= 2.18),
         libglib2.0-dev (>= 2.6)
Description: sends desktop notifications to a notification daemon
 A library that sends desktop notifications to a notification daemon, as
 defined in the Desktop Notifications spec. These notifications can be
 used to inform the user about an event or display some form of
 information without getting in the user's way.
