#!/usr/bin/make -f

DEB_DH_INSTALL_ARGS += --list-missing

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-scrollkeeper

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
