Source: mate-backgrounds
Section: x11
Priority: optional
Maintainer: MATE Packaging Team <mate-dev@ml.mate-desktop.org>
Uploaders: John Paul Adrian Glaubitz <glaubitz@physik.fu-berlin.de>,
           Stefano Karapetsas <stefano@karapetsas.com>,
           Mike Gabriel <sunweaver@debian.org>,
           Vangelis Mouhtsis <vangelis@gnugr.org>,
Build-Depends: debhelper (>= 9),
               libglib2.0-dev,
               mate-common (>= 1.16),
Build-Depends-Indep: intltool,
Standards-Version: 3.9.7
Homepage: http://www.mate-desktop.org/
Vcs-Browser: https://github.com/mate-desktop/debian-packages
Vcs-Git: git://github.com/mate-desktop/debian-packages.git

Package: mate-backgrounds
Architecture: all
Depends: ${misc:Depends},
Description: Set of backgrounds packaged with the MATE Desktop Environment
 This package provides a collection of desktop wallpapers created with MATE
 users in mind.
 .
 The package ships the default MATE backgrounds from various Linux
 distributions as well as a set of nature photographs suitable as comforting
 desktop backgrounds.
