Source: mate-file-manager-share
Section: mate
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Uploaders: Steve Zesch <stevezesch2@gmail.com>
Build-Depends: debhelper (>= 8),
               cdbs,
               mate-common,
               libcaja-extension-dev
Standards-Version: 3.9.3
Homepage: http://www.mate-desktop.org/

Package: caja-share
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         samba-common-bin
Description: Allows to quickly share a folder from the Caja file manager
 Caja share allows you to quickly share a folder from the MATE Caja
 file manager without requiring root access. It uses Samba, so your folders
 can be accessed by any operating system.
