#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DH_INSTALL_ARGS += --list-missing

DEB_CONFIGURE_SCRIPT := ./autogen.sh

binary-post-install/caja-share::
	rm -f debian/caja-share/usr/lib/caja/extensions-*/libcaja-share.a
	rm -f debian/caja-share/usr/lib/caja/extensions-*/libcaja-share.la

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
