Source: libmate
Section: devel
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Standards-Version: 3.9.2
Build-Depends: debhelper,
               libmatevfs-dev,
               libmatecorba-dev,
               libpopt-dev,
               intltool,
               libmateconf-dev,
               libcanberra-dev,
               libglib2.0-dev,
               cdbs,
               dpkg-dev,
               gtk-doc-tools,
               docbook-xml,
               libmatecomponent-dev,
               libxml2-dev,
               libdbus-1-dev,
               libdbus-glib-1-dev,
               libavahi-client-dev,
               libavahi-common-dev,
               libavahi-glib-dev,
               libselinux1-dev
Build-Depends-Indep: libglib2.0-doc

Package: libmate
Architecture: any
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends},
         mate-conf,
         libglib2.0,
         libmatecomponent,
         mate-corba,
         mate-vfs
Description: The MATE library
 This package contains the shared library for the base MATE library
 functions.

Package: libmate-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libmateconf-dev,
         libglib2.0-dev,
         libmatecomponent-dev,
         libmatecorba-dev,
         libmateconf-dev,
         libmatevfs-dev,
         libcanberra-dev,
         libpopt-dev
Description: The MATE library (development files)
 This package contains the shared library for the base MATE library
 functions.
 .
 This package contains the development files.
