#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DH_INSTALL_ARGS += --list-missing

DEB_CONFIGURE_EXTRA_FLAGS += --disable-static \
                             --with-pam-dir=/lib/security \
                             --with-root-certs=/etc/ssl/certs \
                             --libexecdir=/usr/lib/mate-keyring \

DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(DEB_DESTDIR) MATECONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1

binary-install/mate-keyring::
	mkdir -p debian/mate-keyring/usr/share/mateconf/schemas
	mateconf-merge-schema "debian/mate-keyring/usr/share/mateconf/schemas/mate-keyring.schemas" --domain mate-keyring debian/tmp/etc/mateconf/schemas/*.schemas
	rm -r debian/tmp/etc/mateconf/schemas/
	rm -r debian/tmp/etc/mateconf/
