Source: gnome-main-menu
Section: x11
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Build-Depends: debhelper (>= 9),
               libmate-panel-applet-dev,
               libcaja-extension-dev,
               libmate-desktop-dev,
               libmate-menu-dev,
               libmate-slab-dev,
               libgtk2.0-dev,
               libglib2.0-dev,
               librsvg2-dev,
               libunique-dev,
               libgtop2-dev,
               libxml2-dev,
               libcairo2-dev,
               libx11-dev,
               network-manager-dev,
               libnm-glib-dev,
               libnm-util-dev,
               libiw-dev,
               mate-common
Standards-Version: 3.9.5
Homepage: http://www.mate-desktop.org/

Package: gnome-main-menu
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mate-session-manager,
         mate-screensaver,
         mate-control-center-common
Suggests: network-manager
Description: GNOME start menu applet for MATE
 This applet provides a "start menu" for the MATE desktop.
 .
 It features a list of favorite applications, and recently used documents.
 .
 It provides shortcuts for common system administration actions and integrates
 with network-manager for network status reporting.

Package: gnome-main-menu-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         gnome-main-menu (= ${binary:Version})
Description: GNOME start menu applet for MATE (debugging symbols)
 This applet provides a "start menu" for the MATE desktop.
 .
 It features a list of favorite applications, and recently used documents.
 .
 It provides shortcuts for common system administration actions and integrates
 with network-manager for network status reporting.
 .
 This package contains debugging symbols for the applet.
 It is provided to help debugging problems.
 .
 The debugging symbols are installed in /usr/lib/debug and will
 automatically be used by gdb.
