Source: mate-common
Section: devel
Priority: optional
Maintainer: MATE Packaging Team <pkg-mate-team@lists.alioth.debian.org>
Uploaders: John Paul Adrian Glaubitz <glaubitz@physik.fu-berlin.de>,
           Stefano Karapetsas <stefano@karapetsas.com>,
           Mike Gabriel <sunweaver@debian.org>,
           Vangelis Mouhtsis <vangelis@gnugr.org>,
           Martin Wimpress <code@flexion.org>,
Build-Depends: autoconf,
               automake,
               autotools-dev,
               debhelper (>= 9),
               gettext,
               intltool,
               libtool,
               pkg-config,
Standards-Version: 3.9.7
Homepage: http://www.mate-desktop.org
Vcs-Browser: https://github.com/mate-desktop/debian-packages
Vcs-Git: git://github.com/mate-desktop/debian-packages.git

Package: mate-common
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~),
Depends: autoconf,
         automake,
         gettext,
         gtk-doc-tools,
         intltool,
         libtool,
         pkg-config,
         ${misc:Depends},
Description: common scripts and macros to develop with MATE
 mate-common is an extension to autoconf, automake and libtool for the MATE
 environment and MATE using applications. Included are mate-autogen.sh and
 several macros to help in MATE source trees.
