Source: mate-menus
Section: mate
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Build-Depends: debhelper,
               cdbs,
               libglib2.0-dev,
               python-all-dev,
               dpkg-dev,
               python-support,
               intltool,
               gobject-introspection,
               libgirepository1.0-dev
Standards-Version: 3.9.2

Package: mate-menus
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         python-gtk2
XB-Python-Version: ${python:Versions}
Description: an implementation of the freedesktop menu specification for MATE
 The package contains an implementation of the draft
 "Desktop Menu Specification" from freedesktop.org:
 .
 http://www.freedesktop.org/Standards/menu-spec
 .
 Also contained here are the MATE menu layout configuration files, .directory
 files and assorted menu related utility programs.

Package: gir1.2-mate-menus
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         ${gir:Depends}
Description: GObject introspection data for the MATE menu specification
 This package contains introspection data for MATE menu specification, an
 an implementation of the draft "Desktop Menu Specification" from
 freedesktop.org
 .
 It can be used by packages using the GIRepository format to generate dynamic
 bindings. 

Package: python-mate-menu
Section: python
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         python-gtk2
Description: an implementation of the freedesktop menu specification for MATE
 The package contains an implementation of the draft
 "Desktop Menu Specification" from freedesktop.org.
 .
 This package contains the python bindings.
