#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DH_INSTALL_ARGS += --list-missing

DEB_CONFIGURE_SCRIPT := ./autogen.sh

DEB_CONFIGURE_EXTRA_FLAGS += --disable-scrollkeeper \
		--libexecdir=/usr/lib/mdm
		--localstatedir=/var \
		--disable-static \
		--with-at-spi-registryd-directory=/usr/lib/at-spi \
		--with-pid-file=/var/run/mdm.pid \
		--with-user=mdm \
		--with-group=mdm \
		--with-pam-domain=mdm \
		--with-lang-file=/etc/default/locale \
		--with-log-dir=/var/log/mdm \
		--with-xauth-dir=/var/run/gdm3 \
		--with-working-directory=/var/lib/gdm3

DEB_MAKE_INSTALL_TARGET = install DESTDIR=$(DEB_DESTDIR) MATECONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1

binary-install/mdm::
	mkdir -p debian/mdm/usr/share/mateconf/schemas
	mateconf-merge-schema "debian/mdm/usr/share/mateconf/schemas/mate-display-manager.schemas" \
		--domain mate-display-manager debian/tmp/etc/mateconf/schemas/*.schemas
	rm -r debian/tmp/etc/mateconf/schemas/
	
	chmod 755 debian/mdm/etc/mdm/Xsession
	dh_installpam -pmdm --name=mdm-autologin
	rm -rf debian/tmp/var/lib/mdm/.m*
	rm -rf debian/tmp/var/run
	
	# fix for wrong path to executables
	sed -i 's_/usr/lib/mdm/_/usr/lib/polkit-mate/_' \
		debian/mdm/usr/share/mdm/autostart/LoginWindow/polkit-mate-authentication-agent-1.desktop
	sed -i 's_/usr/lib/mdm/__' debian/mdm/usr/share/mdm/autostart/LoginWindow/mate-settings-daemon.desktop
