Source: mate-user-share
Section: x11
Priority: optional
Maintainer: Stefano Karapetsas <stefano@karapetsas.com>
Uploaders: Steve Zesch <stevezesch2@gmail.com>
Build-Depends: debhelper (>= 9),
               quilt,
               intltool (>= 0.35.0),
               yelp-tools,
               libxt-dev,
               pkg-config,
               libdbus-1-dev (>= 1.1.1),
               libglib2.0-dev (>= 2.15.2),
               libgtk2.0-dev,
               libdbus-glib-1-dev,
               libnotify-dev,
               libcanberra-gtk-dev,
               libselinux1-dev [linux-any],
               libunique-dev,
               libcaja-extension-dev (>= 1.5.0),
               mate-common
Standards-Version: 3.9.5

Package: mate-user-share
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         apache2.2-bin,
         libapache2-mod-dnssd (>= 0.6),
         obex-data-server [linux-any],
         gvfs-backends,
         mate-user-share-common (= ${source:Version})
Description: User level public file sharing via WebDAV or ObexFTP
 MATE user share tool allows easy user-level file sharing via WebDAV
 or ObexFTP. The shared files are announced on the network by Avahi.

Package: mate-user-share-common
Architecture: all
Depends: ${misc:Depends}
Replaces: mate-user-share (<< 1.9.0)
Breaks: mate-user-share (<< 1.9.0)
Description: User level public file sharing via WebDAV or ObexFTP (common files)
 MATE user share tool allows easy user-level file sharing via WebDAV
 or ObexFTP. The shared files are announced on the network by Avahi.
 .
 This package contains the architecture independent files.

Package: mate-user-share-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mate-user-share (= ${binary:Version})
Description: User level public file sharing via WebDAV or ObexFTP (debugging symbols)
 MATE user share tool allows easy user-level file sharing via WebDAV
 or ObexFTP. The shared files are announced on the network by Avahi.
 .
 This package contains debugging symbols for the MATE user share tool.
 It is provided to help debugging problems.
 .
 The debugging symbols are installed in /usr/lib/debug and will
 automatically be used by gdb.
